[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/swati1205
[access "refs/for/refs/*"]
	read = group user/swati1205
	push = group user/swati1205
	label-Code-Review = -2..+2 group user/swati1205
	label-Verified = -1..+1 group user/swati1205
	rebase = group user/swati1205
	removeReviewer = group user/swati1205
	submit = group user/swati1205
[access "refs/heads/*"]
	read = group user/swati1205
	create = group user/swati1205
	push = +force group user/swati1205
	pushMerge = group user/swati1205
[access "refs/tags/*"]
	push = group user/swati1205
	push = +force group user/swati1205
